// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Font
/// @type List
$text-font-stack: 'Montserrat' sans-serif !default;

/// Colors
$dark-grey: #262626 !default;
$white: #FFF !default;






