@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}
.ahs-mdn-table {
}

.logo {
    width: 500px;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.wireframe-mobile{
    width: 200px;
}

.wireframe-desktop{
    width: 500px;
}

.design-mobile{
    width: 300px;
}

.design-desktop{
    width: 1000px;
}