@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* GLOBAL */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
    width: 100vw;
    margin: 0 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* HOME - BUTTON */

/* MENU */

@media screen and (max-width: 480px) {
    .appstore-banner img {
        height: 100% !important;
    }
    .contact-button {
        display: none;
    }
    .header-title {
        font-size: 40px !important;
    }
}

.menu {
    width: 100vw;
    height: 100px;
    background-color: #262626;
}

.menu-logo {
    float: left;
}

.menu-logo h1{
    font-size: 30px;
    color: #FFF;
    padding-top: 35px;
    padding-left: 30px;
}

.contact-button {
    z-index: 9000;
    right: 80px;
    top: 0px;
    position: absolute;
    height: 100px;
}

.contact-button i {
    font-size: 40px;
    color: #fff;
    width: 80px;
    text-align: center;
    margin-top: 15px;
}

.contact-button i p {
    font-size: 12px;
    color: #fff;
    width: 80px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.menu-button {
    z-index: 9999;
    right: 0;
    top: 0;
    position: absolute;
    height: 100px;
}

.menu-button i {
    font-size: 40px;
    color: #fff;
    width: 80px;
    text-align: center;
    margin-top: 15px;
}

.menu-button i p {
    font-size: 12px;
    color: #fff;
    width: 80px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.nav-collapse.nav-collapse-0.nav-collapse-0.closed.opened {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

nav ul {
    z-index: 9999;
    position: absolute;
    background-color: #262626;
    width: 100vw;
    height: 100vh;
}

.menu-links {
    z-index: 9999;
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
}

.menu-links li  {
    margin: 20px;
}

.menu-links li a {
    color: #FFF;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    /*text-decoration: none;*/
}

i {
    cursor: pointer;
}




/* HEADER */

.header {
    margin: 100px 0 200px 0;
    z-index: 1000;
}

.header-title {
    font-size: 50px;
    font-weight: 800;
    margin: 0px 0px 0px 20px;
}

.header-description {
    font-size: 25px;
    margin: 15px 0 25px 20px;
}

.header-line {
    width: 50%;
    float: left;
    margin: 0 0 0 20px;
    border-bottom: 3px solid #262626;
}

/* TERMS - PAGE */

.terms-block {
    margin-bottom: 50px;
}

.terms-title {
    font-size: 25px;
    margin-bottom: 15px;
    padding: 0 35px;
    font-weight: 800;
}

.terms-text {
    font-size: 15px;
    padding: 0 35px;
}

/* CARS - PAGE */

@media screen and (max-width: 768px) {
    .cars-image {
        width: 80% !important;
        width: 50vw;
        float: right;
        margin-right: 10% !important;
        margin-top: 200px;
    }

    .cars-block a .cars-button {
        width: 120px;
        margin: 65vw auto 0 auto !important; 
    }
}


@media screen and (max-width: 480px) {
    .cars-block a .cars-button {
        width: 120px;
        margin: 75vw auto 0 auto !important; 
    }
}

.cars-block {
    margin-bottom: 100px;
}

.cars-title {
    font-size: 25px;
    margin-bottom: 15px;
    padding: 0 35px;
    font-weight: 800;
}

.cars-text {
    font-size: 15px;
    padding: 0 35px;
}

.cars-image {
    width: 50vw;
    float: right;
    margin-right: 15vw;
    margin-top: 50px;
}

.cars-block a .cars-button p {
    background-color: #262626;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    color: #FFF;
    text-align: center;
}

.cars-block a {
    text-decoration: none;
}

.cars-block a .cars-button {
    margin: 50px 0 0 35px; 
}

/* FOOTER */

footer {
    background-color: #262626;
    height: 300px;
    margin-top: 200px;
    color: #FFF;
    width: 100vw;
    padding: 0 15px;
}

.footer {
    width: 100vw;
    padding: 50px;
}

.footer-logo {
    float: left;
}

.footer-social-media-icons {
    font-size: 30px;
    float: left;
    margin-top: 15px;
    border-top: 3px solid #FFF;
    padding-top: 30px;
    padding-right: 100px;
}

.footer-social-media-icons a {
    margin-right: 20px;
    color: #FFF;
}

.footer-social-media-icons a:hover {
    color: #CCC;
}

/* APP */

.appstore-banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.appstore-banner img {
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.appstore-block {
    margin-top: 50px;
}

.appstore-title {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 800;
}

.appstore-text {
    font-size: 15px;
}

.appstore-button img {
    width: 150px;
    margin-top: 10px;
}

/*HOME*/

.infoblock-image {
    overflow: hidden;
    padding: 0;
    height: 50vw;
}

.infoblock img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 110%;
    height: auto;
}

.infoblock-title {
    font-size: 25px;
    font-weight: 800;
    padding: 50px 50px 0px 35px;
}

.infoblock-text {
    padding: 10px 50px 0px 35px;
    font-size: 15px;
}
.infoblock-name {
    border-top: 3px solid #262626;
    width: 10vw;
    margin-left: 35px;
    margin-bottom: 50px;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 800;
}

iframe {
    width: 100%;
    height: 80vh;
}
.car-image {
    height: 50vw;
    overflow: hidden;
    margin-bottom: 100px;
}

.car-image img {
    width: 100vw;
}