.page-title {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 15px;
}

.page-description {
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 3px solid $black;
    margin-bottom: 100px;
    color: $black;
}

header {
    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-duration: 2s;
}