.navigation {
    height: 80px;
    background-color: $black;
    margin-bottom: 100px;
    width: 100%
}

#block-cargo-theme-branding {
    position: absolute;
    background-color: $black;
    height: 80px;
    right: 20px;
    top: 0;
    padding-top: 30px;
    a {
        color: $white;
        font-size: 20px;
        text-decoration: none;
        padding: 20px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }
}

.menu-button-open {
    width: 80px;
    height: 80px;
    background-color: $black;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    i {
        font-size: 40px;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    i:hover {
        color: $red;
    }
}

.menu-button-close {
    width: 80px;
    height: 80px;
    background-color: $black;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    margin-top: -50px;
    margin-bottom: 50px;
    i {
        font-size: 40px;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    i:hover {
        color: $red;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-x: hidden;
    transition: 0.5s;
    a {
        padding: 8px 8px 8px 50px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 800;
        color: $white;
        display: block;
        transition: 0.3s
    }
    a i {
        font-size: 40px;
        font-weight: 800;
    }
}


.sidenav a:hover, .offcanvas a:focus {
    color: $red;
}

.sidenav .closebtn {
    margin-top: 50px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
