{% extends 'layout.twig' %}

{% block title %}
    {{ pageData.title }}
{% endblock %}

{% block article %}
<div class="container">
    <div class="row">
        <div class="car-block">
            <div class="car-image">
                <img src="/assets/images/TeslaSTA.jpg">
            </div>
        </div>
        <div class="col-12 terms-block">
            <h2 class="terms-title">Maak kennis met Model X</h2>
            <p class="terms-text">Model X is de veiligste, snelste en best uitgeruste SUV ooit. Model X heeft standaard vierwielaandrijving en een 100 kWh accucapaciteit, voor een bereik van 565 km. Daarnaast biedt Model X voldoende ruimte voor zeven volwassenen en hun bagage. Daarnaast is deze SUV ongelooflijk snel: hij accelereert van 0 naar 100 kilometer per uur in 3,1 seconden. Model X is een SUV zonder compromis.</p>
        </div>
        <div class="col-12 terms-block">
            <h2 class="terms-title">Stoelen en opbergruimte</h2>
            <p class="terms-text">De Model X biedt plaats voor maximaal zeven volwassenen en meer bagageruimte dan andere SUV's in zijn klasse. Ontworpen voor optimaal comfort, biedt de 7-zits configuratie de mogelijkheid om de stoelen van de tweede en derde rij volledig neer te klappen om een zeer grote vlakke laadruimte te creëren. Model X is verkrijgbaar in drie verschillende interieurconfiguraties en is dus ideaal voor u en uw gezin, wat uw wensen ook zijn.</p>
        </div>
        <div class="col-12 terms-block">
            <h2 class="terms-title">Ruimte voor alles</h2>
            <p class="terms-text">Met Model X profiteert u van de grootste interne bagageruimte. Neem zo veel mensen, bagage, fietsen, kinderwagens en boodschappen mee als u kunt. Er is zelfs een kofferbak aan de voorkant.</p>
        </div>
        <div class="col-12 terms-block">
            <h2 class="terms-title">De veiligste SUV ooit</h2>
            <p class="terms-text">De Model X is de veiligste SUV ooit, met standaard actieve veiligheidsfuncties en ingebouwde hardware die de bestuurder beter zicht bieden. De acht omgevingscamera's bieden goed zicht rond de hele auto en de twaalf ultrasone sensoren detecteren omliggende objecten. De radar aan de voorzijde ziet zelfs door zware regen, mist, stof en de directe voorligger. Door gelijktijdig zicht in alle richtingen kunnen ongelukken worden voorkomen. De Model X is de eerste SUV ooit met een veiligheidsscore van 5 sterren in alle categorieën en subcategorieën. De kans dat de inzittenden letsel oplopen, is bovendien lager dan bij welke andere auto dan ook. Daarnaast is het risico om over de kop te slaan twee keer zo klein.</p>
        </div>
    </div>
</div>
{% endblock %}