{% extends 'layout.twig' %}

{% block title %}
    {{ pageData.title }}
{% endblock %}

{% block article %}
<div class="container">
    <div class="row">
        {% for car in cars %}
            <div class="col-12 cars-block">
                <h2 class="cars-title">{{ car.name }}</h2>
                <p class="cars-text">{{ car.description }}</p>
                <img class="cars-image" src="/assets/images/{{ car.imageUrl }}">
                <a href="/car.php">
                    <div class="cars-button">
                        <p>
                            Meer info
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}