<footer>
    <div class="footer">
        <div class="row">
            <div class="footer-logo">
                <h1>CARGO</h1>
                <p>Milieubewust delen.</p>
            </div>
        </div>
        <div class="row">
            <div class="footer-social-media-icons">
                <a href="www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

</footer>