<div class="header">
    <div class="col-12">
        <h1 class="header-title">{{ pageData.title }}</h1>
        <p class="header-description">{{ pageData.description }}</p>
        <span class="header-line"></span>
    </div>
</div>