{% extends 'layout.twig' %}

{% block title %}
    {{ pageData.title }}
{% endblock %}

{% block article %}
    <div class="row">
        <iframe frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/d/embed?mid=1hdZQF-4NbJjVprN5R9RKT6PrUgY"></iframe>
                                                                                                
    </div>
{% endblock %}



