<div class="menu">
    <div class="menu-logo">
        <h1>CARGO</h1>
    </div>
    <nav class="nav-collapse">
    <ul>
        <div class="menu-links">
            <li><a href="/index.php">Home.</a></li>
            <li><a href="/cars.php">Onze Wagens.</a></li>
            <li><a href="/experience.php">Ervaringen.</a></li>
            <li><a href="/terms.php">Voorwaarden.</a></li>
            <li><a href="/terms.php">Laadpunten.</a></li>
            <li><a href="/faq.php">FAQ.</a></li>
            <li><a href="/app.php">App.</a></li>
        </div>
    </ul>
    </nav>
    <div id="toggle" class="menu-button">
        <i id="icon" class="fa fa-bars" aria-hidden="true">
            <p>MENU</p>
        </i></div>
    </div>
    <div class="contact-button">
        <a href="mailto:info@cargo.com">
            <i id="icon" class="fa fa-envelope" aria-hidden="true">
                <p>CONTACT</p>
            </i>
        </a>
    </div>
</div>