{% extends 'layout.twig' %}

{% block title %}
    {{ pageData.title }}
{% endblock %}

{% block article %}
<div class="container">
    <div class="row">
        {% for term in terms %}
            <div class="col-12 terms-block">
                <h2 class="terms-title">{{ term.title }}</h2>
                <p class="terms-text">{{ term.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}