{#
/**
 * @file reviews.html.twig
 * Default theme implementation to present Reviews data.
 *
 * This template is used when viewing Reviews pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_reviews()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('reviews') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
